.swiggy-bg{    background-color: rgb(255, 82, 0);}

.radius-12{    border-radius: 12px;}
.button1{
  background: #fff; 
     border-radius: 16px; 
}
.button2{
   
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(2, 6, 12, 0.15);
}
